<h2>Editar artículo</h2>

<!-- Muestra los mensajes de error de 
las validaciones del modelo, esto se puede comprobar por consola. -->
<% if @article.errors.any? %>

	<ul>
		<%= @article.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>

<% else %>
	<ul></ul>
<% end %>

<%= form_for @article do |f| %>
	<%= f.label :tittle, "Título" %>
	<br>
	<%= f.text_field :tittle %>
	<br>
	<%= f.label :description, "Descripción" %>
	<br>
	<%= f.text_area :description %>
	<br>
	<%= f.submit "Guardar" %>
<%end%>

<p>
	<%= link_to "Ver Artículo", article_path(@article) %>
</p>

