<h2>Nuevo artículo</h2>

<%= form_for @article do |f| %>
	<%= f.label :tittle, "Título" %>
	<br>
	<%= f.text_field :tittle %>
	<br>
	<%= f.label :description, "Descripción" %>
	<br>
	<%= f.text_area :description %>
	<br>
	<%= f.submit "Guardar" %>
<%end%>