<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to "Artículos", articles_path, class: "nv-link" %></li>
				
				<li>
					<a href="#" class="dropdown-toggle nv-link" data-toggle="dropdown">Categorías <b class="caret"></b></a>
					<ul class="dropdown-menu">

						<% if logged_in? and current_user.admin? %>
						<!-- debe ser admin loggueado para poder ver este menú-->
							<li><%= link_to "Nueva", new_category_path %></li>
							<li><%= link_to "Ver todo", categories_path %></li>
							<li role="separator" class="divider"></li>
						<% end %>
						<% Category.all.each do |category|%>
							<li><%= link_to category.name, category_path(category) %></li>
						<%end%>								
					</ul>
				</li>

				<li><%= link_to 'About', about_path, class: "nv-link" %></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Usuarios", users_path, class: "nv-link" %></li>
				<li class="dropdown">

				<% if logged_in? %>
					<a href="#" class="dropdown-toggle nv-link" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% if current_user.admin? %>
							<li class="dropdown-header" >Alpha Admin</li>							
						<% else %>
							<li class="dropdown-header" >Alpha Blogger</li>
						<% end %>
						<li><%= link_to "Ver Perfil", user_path(current_user) %></li>
						<li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
						<li role="separator" class="divider"></li>
						<li><%= link_to "Cerrar Sesión", logout_path, method: :delete %></li>
					</ul>
				<% else %>
					<a href="#" class="dropdown-toggle nv-link" data-toggle="dropdown">Usuario <b class="caret"></b></a>
					<ul class="dropdown-menu">

						<li><%= link_to "Iniciar Sesión", login_path %></li>
						<li><%= link_to "Registrarse", signup_path %></li>
				
						<!--<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>-->
					</ul>
				<% end %>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>