<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Para mostrar los mensajes de las operaciones se hace de la siguiente forma -->

<% flash.each do |name, msg| %>
	<ul>
		<li><%= msg %></li>
	</ul>
<%end%>

<ul>
	<li><%= link_to "Inicio", root_path %></li>
	<li><%= link_to "Artículos", articles_path %></li>
</ul>

<%= yield %>

</body>
</html>
